body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FF5722;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.hire-me {
    background-color: #FF5722;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.sidebar {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #ccc;
    font-size: 24px;
    margin-right: 20px;
}

main {
    flex-grow: 1;
}

main h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

main h1 span {
    color: #FF5722;
}

main p {
    margin-bottom: 20px;
}

.buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #FF5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.buttons .btn.contact {
    background-color: #FF9800;
}

.profile-pic img {
    max-width: 150px;
    border-radius: 50%;
}

.about-me {
    background: #f3f3f3;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.about-me h2 {
    margin-bottom: 20px;
}

.about-me p {
    margin-bottom: 20px;
    color: #666;
}

.tableitem{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table,tr ,td{
    display: flex;
    border: none;
    justify-content: space-around;
    color: white;
}


.details {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.detail-item {
    text-align: left;
}
